*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    width: 100vw;
    height: 100%;
    font-size: 16px ;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: auto;
}
.description{
    height: 5vh;
    margin-top: 8rem;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: brown;
    color: white;
    padding: 1.5rem;
    
    

}

h1{
    text-align: center;
    color: brown;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-left: 2rem;

   
}
#header{
    flex-direction: row;
    width: 100%;
    display: flex;
    margin-top: 5rem;
    justify-content: flex-start;
    
   
    
}
.image{
    width: 100%;
    height: 12vh;
  
 
}
.description1{
    background-color: brown;
    color:white;
    display: flex;
    text-align:left;
    margin-top: 0.5rem;
    margin-left: 10rem;
    font-size: 15px;
    width: 50%;
   padding-top: 1rem;
   padding-left: 1.5rem;
   padding-bottom: 1rem;
   border: none;
   border-radius: 5px;

}
.description1:hover{
    background-color: black;
}
#nav-bar{
    position:fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    justify-content: space-between;
    background-color: brown;
   overflow: hidden;

}
ul{
    display: flex;
flex-direction: row;
width: 100%;
padding-right: 1rem;
margin-left: 10rem; 
font-size: 15px ;
font-weight: bold;
margin-top: 2.5rem;
}
li:hover{
    color: burlywood;
}
li{
    margin-right: 2rem;
    list-style: none;
    color: white;
   
}
.nav-link{
   
    display: flex;
    width: 100%;
    height: 0vh;
    justify-content: flex-start;
    background-color: black;
    color: white;
    padding-bottom: 7rem;
    
   
   font-weight: bold;
   margin-top: 0rem;
   flex-direction: row;
  

}
.italic{
    text-align:left;
    margin-left: 13rem;
}

.img_1{
    width: 8%;
    height: 12vh;
    margin-left: 8rem; 
    display: block;
    margin-top: 0.5rem;
}
.description em{
animation: em 5s linear infinite;
}
@keyframes em {
    0% { 
        transform: translateX(0%);
    }
    20%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(100%);
    }
    45%{
        transform: translateX(100%);
    }
    50%{
        transform: translateX(200%);
    } 
    70%{
        transform: translateX(200%);
    }
    75%{
        transform: translateX(300%);
    }
    95%{
        transform: translateX(300%);
    }
    100%{
        transform: translateX(400%);
    }
    
}
.slider_container{
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    
   
}
.slider{
    position:relative;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: 20s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}
.slide{
    position: relative;
    min-width: 100%;
    height: 100%;
}

.slide .caption{
    position: absolute;
    left: 0;
    bottom: 5%;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.348);
    backdrop-filter: blur(5px);
    padding: 1rem 5rem;
    border-radius: 0 2rem 2rem 0 ;
  
}
.slide.one img{
   height: 70vh;
   padding: auto;
   margin: auto;
   width: 100vw;
}
.slide.two img{
    height: 70vh;
   padding: auto;
   margin: auto;
   width: 100%;
}
.slide.three img{
    height: 70vh;
    padding: auto;
    margin: auto;
    width: 100%;
}


@keyframes sliding {
    0% { 
        transform: translateX(0%);
    }
    20%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-100%);
    }
    45%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    } 
    70%{
        transform: translateX(-200%);
    }

    }
    .slide .captionA{
        position: absolute;
        left: 0;
        bottom: 50%;
        font-size: 3rem;
        font-weight: 600;
        color: white;
        text-transform: capitalize;
        background: rgba(0, 0, 0, 0.348);
        backdrop-filter: blur(1px);
        border-radius: 0 2rem 2rem 0 ;
        width: 50%;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
        padding-left: 3rem;
        padding-right: 2rem;

      
    }
    .slide .captionA1{
        position: absolute;
        left: 0;
        bottom: 40%;
        font-size: 3rem;
        font-weight: 600;
        color: white;
        text-transform: capitalize;
        background: rgba(0, 0, 0, 0.348);
        backdrop-filter: blur(1px);
        border-radius: 0 2rem 2rem 0 ;
        width: 50%;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
        padding-left: 3rem;
        padding-right: 2rem;

      
    }
    .slide .captionB{
        position: absolute;
        left: 0;
        bottom: 30%;
        font-size: 1rem;
        color: black;
        
        background: rgba(236, 231, 231, 0.348);
        backdrop-filter: blur(3px);
        border-radius: 0 2rem 2rem 0 ;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
        padding-left: 2rem;
        padding-right: 2rem;
        height: 10vh;
    }
    .slide .captionC{
        position: absolute;
        left: 0;
        bottom: 3%;
        font-size: 3rem;
        background: rgba(0, 0, 0, 0.348);
        border-radius: 0 2rem 2rem 0 ;
        width: 25%;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
        padding-left: 3rem;
        padding-right: 2rem;

      
    }
    
    .slide .captionD{
        position: absolute;
        left: 25%;
        bottom: 50%;
        font-size: 3rem;
        font-weight: 600;
        color: white;
        text-transform: capitalize;
        background: rgba(0, 0, 0, 0.348);
        backdrop-filter: blur(1px);
        border-radius: 0 2rem 2rem 0 ;
        width: 50%;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
        padding-left: 3rem;
        padding-right: 2rem;

      
    }
    .slide .captionE{
        position: absolute;
        left: 15%;
        bottom: 20%;
        font-size: 1rem;
        color: black;
        
        background: rgba(236, 231, 231, 0.348);
        backdrop-filter: blur(3px);
        border-radius: 0 2rem 2rem 0 ;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
        padding-left: 2rem;
    
        height: 7vh;
        padding-right: 5rem;
    }
    .slide .captionF{
        position: absolute;
        left: 0;
        bottom: 3%;
        font-size: 3rem;
        background: rgba(0, 0, 0, 0.348);
        border-radius: 0 2rem 2rem 0 ;
        width: 30%;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30rem;
        padding-left: 10rem;
         
    }
    .slide .captionG{
        position: absolute;
        left: 0;
        bottom: 50%;
        font-size: 3rem;
        font-weight: 600;
        color: white;
        text-transform: capitalize;
        background: rgba(0, 0, 0, 0.348);
        backdrop-filter: blur(1px);
        border-radius: 0 2rem 2rem 0 ;
        width: 50%;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30rem;
        padding-left: 3rem;
        padding-right: 2rem;
 
    }
    .slide .captionH{
        position: absolute;
        left: 0;
        bottom: 20%;
        font-size: 1rem;
        color: black;
        background: rgba(236, 231, 231, 0.348);
        backdrop-filter: blur(3px);
        border-radius: 0 2rem 2rem 0 ;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20rem;
        padding-left: 2rem;
        padding-right: 2rem;
        height: 10vh;
    }
    .slide .captionI{
        position: absolute;
        left: 0;
        bottom: 5%;
        font-size: 3rem;
        background: rgba(0, 0, 0, 0.348);
        border-radius: 0 2rem 2rem 0 ;
        width: 30%;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 25rem;
        padding-left: 10rem;
         
    }
     strong{
        color: brown;
    }
    .container{
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
        display: block;
        
    }
hr{

    width: 3%;
    text-align: center;
    margin-left: 40rem;
    bottom: 30%
}
.img_2{
    width: 25vw;
    background-color: whitesmoke;
}
.img_2:hover{
    background-color: whitesmoke;
}
.img_3{
    width: 25vw;
    background-color: whitesmoke;
}
.img_3:hover{
    background-color: whitesmoke;
}
.img_4{
    width: 25vw;
    background-color: whitesmoke;
}
.img_4:hover{
    background-color: whitesmoke;
}
.img_5{
    width: 25vw;
    background-color: whitesmoke;
}
.img_5:hover{
    background-color: whitesmoke;
}
.content{
    display: flex;
    flex-direction: row;
   text-align: center;
   justify-content: center;
   margin-top: 3rem;
   height: 100vh;
   width: 100%;
   margin-left: 5rem;
   
  
}
.content:hover{
    color: grey;
   
}

.content h3{
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.grid_item1:hover{
    background-color: whitesmoke; 
}
 .grid_item2:hover{
    background-color: whitesmoke; 
}
.grid_item3:hover{
    background-color: whitesmoke; 
}
.grid_item4:hover{
    background-color: whitesmoke; 
}
.grid_item1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    justify-content: center;
    width: 100%;
    background-color: whitesmoke; 
    margin-left: 9rem;
}
.grid_item2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    justify-content: center;
    background-color: whitesmoke; 
    margin-left: 1.5rem;
}
.grid_item3{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    justify-content: center;
   align-items: center;
   width: 100%;
   background-color: whitesmoke; 
   margin-left: 1.5rem;
}
.grid_item4{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    justify-content: center;
    width: 100%;  
    background-color: whitesmoke; 
    margin-left: 1.5rem;
}
.grid_item button{
    color: white;
    border: 1px solid rgb(69, 235, 235);
    background-color: brown;
    width: 12vw;
    height: 8vh;
    margin-left: 7rem;
    border-radius: 5px;
    display: inline-flex;
}
.slide.four .img{
    height: 80vh;
    padding: auto;
    margin: auto;
    width: 100vw;
}
.img_6 {
    position:absolute;
    top: 0;
    left: 0;
    bottom: 10%;
width: 0vw;
height: 0vh;
    display:block;
    justify-content:center;
    align-items: center;
    margin-top: 4rem;
    margin-left: 60rem;
    
    
   
}
.grid_item button:hover{
    background-color: black;
}